.headerNav{
    width: 100%;
    position: absolute;
    top: 0;
    z-index: 1000;
}
.logoHome {
    top: 0;
    left: 0;
    color: white;
    background: none;
    z-index: 1000;
    
}

.logo {
    width: 170px;
    z-index: 1000;
    padding: 1%;
    background-image: url('./../../dark-green-glow-29241-1920x1080\(1\).jpg');
}

.about, .proyect, .contact {
    position: absolute;
    right: 0;
    z-index: 3;
    color: white;
    padding: 1%;
    /* background-image: url('./../../dark-green-glow-29241-1920x1080\(1\).jpg'); */
    text-shadow: 5px 5px 5px #000;
    text-decoration: none;
    margin-top: 2%;
}
.about {
    margin-right: 27%;
}

.proyect {
    margin-right: 15.5%;
}
.contact {
    margin-right: 5%;
}

.about:hover, .proyect:hover, .contact:hover{
    font-weight: bolder;
    border-bottom: 2px solid white;
}

.mobileNavAbout, .mobileNavProject, .mobileNavContact{
    display: none;
}

@media screen and (max-width: 760px) {
    .logo {
        position: relative;
        width: 100px;
        padding: 1%;
    }
    .mobileNavAbout, .mobileNavProject, .mobileNavContact{
        display: inline-block;
        font-size: 6vmin;
        text-decoration: none;
        color: white; 
        padding: 2%;
        position: absolute;
        top: 1.5%;
        z-index: 10000
    }
    .about, .proyect, .contact {
        display: none;
    }
    .mobileNavAbout{
        left: 55%;
    }
    .mobileNavProject{
        left: 70%;
    }
    .mobileNavContact{
        left: 85%;
    }

}